<!DOCTYPE html>
<html lang="en" ng-app="MenuCategoriesApp">
<head>

    <script src="angular.js"></script>
    <script src="httpService.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Using $http Service</h1>

<div ng-controller="MenuCategoriesController as menu">
    <h3>List Of Menu Categories</h3>
    <ul>
        <li ng-repeat="category in menu.categories">
            (<a href="" ng-click="menu.logMenuItems(category.short_name);">{{category.short_name}}</a>)
            {{category.name}}
        </li>
    </ul>
</div>
</body>
</html>